body {
    color: white;
    background-color: #13121C;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 20px;
}

.maincontainer {
    background-color: #181827;
    border-radius: 20px;
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
    text-align: center;
}
.subcontainer {
    background-color: #13121C;
    border-radius: 20px;
    width: 48vw;
    height: 40vh;
    margin: 0 auto;
    text-align: center;
}


.label {
    margin: auto;
}

#answercheckbox {
    margin: 0;
}