body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    transition: filter 0.5s;
    text-align: center;
}

.dark-mode .flexbutton:hover {
    background-color: #24222e !important;
}

.dark-mode {
    background-color: #15141d !important;
    color: #ffffff !important;
    fill: #ffffff;
}

#header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    margin-bottom: 0px;
    font-weight: 250;
}

.question {
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 30px;
    font-weight: 250;

}

.flexcont {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 120px;
    width: 1300px;
}

.flexbutton {
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    flex-grow: 0.22;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}


.flexbutton:hover {
    background-color: #dddddd;
    border: 1px solid #dddddd;
}

.flexbutton:active {
    background-color: #c4c4c4;
}

.flexbutton:disabled {
    color: black;
}

.correct{
    border: 2px solid #47de60 !important;
}

.incorrect{
    border: 2px solid #db3535 !important;
}

#nameinput {
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #c4c4c4;
}

#submitbutton {
    width: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #c4c4c4;
}

.trophybutton {
    background-color: #efefef;
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 0;
}
.trophybutton:hover {
    background-color: #dddddd;
}
.trophybutton:active {
    background-color: #c4c4c4;
}

.anntext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#validationText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 250;
}

#tablecont {
    width: 20%;
    align-content: stretch;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

th, td {
    width: 300px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    text-align: left;
    border: 1px solid #9b9999;
  }

tr:hover {background-color: #ddd;}

#submitbutton:hover,
#submitbutton:focus :not(.dark){
    transition: 0.3s ease-out;
    box-shadow: inset 0 -3.25em 0 0 #818181;
}

.dark-mode #submitbutton:hover,
.dark-mode #submitbutton:focus {
    transition: 0.3s ease-out;
    box-shadow: inset 0 -3.25em 0 0 #3f3d42;
    color:#24222e;
}

#refreshbutton {
    background-color: #efefef;
    border: none;
    border-radius: 3px;
    position: fixed;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
}
#refreshbutton:hover {
    background-color: #dddddd;
}
#refreshbutton:active {
    background-color: #c4c4c4;
}

#refreshicon {
    fill: #ffffff;
    transition: 1s;
}

#trophycta {
    position: fixed;
    left: 90px;
    top: 0px;
    width: 50px;
    height: 50px;
}

#homecta {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
}

#registercta {
    position: fixed;
    right: 90px;
    top: 90px;
    width: 50px;
    height: 50px;
}

#registerbutton {
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

#registerbutton:hover {
    background-color: #dddddd;
}

#registerbutton:active {
    background-color: #c4c4c4;
}

#homebutton {
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

#homebutton:hover {
    background-color: #dddddd;
}

#homebutton:active {
    background-color: #c4c4c4;
}

.dark-mode #homebutton:hover {
    background-color: #2e2b3a !important;
}

.iconbutton {
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    margin-top: 20px;

}
.iconbutton:hover {
    background-color: #dddddd;
}
.iconbutton:active {
    background-color: #c4c4c4;
}

#themebutton {
    background-color: #efefef;
    border: none;
    border-radius: 3px;
    position: fixed;
    left: 160px;
    top: 20px;
    width: 50px;
    height: 50px;
}
#themebutton:hover {
    background-color: #dddddd;
}
#themebutton:active {
    background-color: #c4c4c4;
}

#themebutton .dark-mode {
    background-color: #15141d;
    border: none;
    border-radius: 3px;
    position: fixed;
    left: 160px;
    top: 20px;
    width: 50px;
    height: 50px;
}
.dark-mode #themebutton:hover {
    background-color: #2e2b3a !important;
}

.dark-mode .trophybutton:hover {
    background-color: #2e2b3a !important;
}
.dark-mode .trophybutton:active {
    background-color: #3b374b !important;
}

.dark-mode .iconbutton:hover {
    background-color: #2e2b3a !important;
}
.dark-mode .iconbutton:active {
    background-color: #3b374b !important;
}

.dark-mode #refreshbutton:hover {
    background-color: #2e2b3a !important;
}

.dark-mode .refreshbutton:active {
    background-color: #3b374b !important;
}

.dark-mode #submitbutton:disabled{
    color:#35333d !important;
    background-color: #1e1c27 !important;
}
.dark-mode #submitbutton:enabled{
    color:#ffffff !important;
    background-color: #24222e !important;
}

#madeicon {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#wficon {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

#headerbar {
    width: calc(100% - 40px);
    height: 50px;
    background-color: #ffffff;
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
}

#dbtablecont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-width: 80%;
    max-width: 80%;
}

.actionbutton {
    border: none;
    /*display: inline-block;*/
}

.deletebutton {
    background-color: #db3535;
    width: 40px;
    height: 40px;
}

.editbutton {
    background-color: #3590db;
    width: 40px;
    height: 40px;
}

.deletebutton:hover {
    background-color: #c22e2e;
}

.editbutton:hover {
    background-color: #3083c7;
}

.deletebutton:active {
    background-color: #a52828;
}

.editbutton:active {
    background-color: #2569a0;
}

.dbtable th, .dbtable td {
    width: auto;
    min-width: 3vw;
}

.dbtable {
    width: 100%;
}

.wipebutton {
    background-color: #db3535;
    width: calc(100% - 4px);
    height: 40px;
    margin-top: 5px;
    left: 0;
    border: none;
}

.wipebutton:hover {
    background-color: #c22e2e;
}

.wipebutton:active {
    background-color: #a52828;
}


.addbutton {
    background-color: #5faf58;
    width: calc(100% - 4px);
    height: 40px;
    margin-top: 5px;
    margin-bottom: 40px;
    left: 0;
    border: none;
}

.addbutton:hover {
    background-color: #498844;
}

.addbutton:active {
    background-color: #335f2f;
}

.dbtable tr:hover {
    background-color: #eeeeee;
}

.editform form {
    width: 80%;
    display: inline-flex;
    flex-direction: column;
}

.editform {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.editform label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 250;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.editform input[type=text]{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 250;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    padding: 10px;
}
.editform input[type=number]{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 250;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    padding: 10px;
}

#formheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 40px;

}

#editsubmit {
    margin-top: 30px;
    background-color: #2569a0;
    height: 50px;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
}

#editsubmit:hover {
    background-color: #3083c7;
}

#editsubmit:active {
    background-color: #2569a0;
}

#createsubmit {
    margin-top: 30px;
    background-color: #56c54c;
    height: 50px;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
}

#createsubmit:hover {
    background-color: #498844;
}

#createsubmit:active {
    background-color: #335f2f;
}

#usercta {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
}

#historycta {
    position: fixed;
    right: 90px;
    top: 20px;
    width: 50px;
    height: 50px;
}

.form-container {
    width: 50vw;
    margin: auto;
}

#passform {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

#nameinp {
    flex-direction: row;
    flex-grow: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 10px;
    margin-right: 30px;
}
#passinp {
    flex-direction: row;
    flex-grow: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 10px;
    margin-right: 30px;
}

#passbtn {
    flex-direction: row;
    flex-grow: 4;
    background-color: #5faf58;
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

.loginlabel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 250;
    padding-top: 5%;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 470px;
}

#passbtn:hover {
    background-color: #498844;
}

#passbtn:active {
    background-color: #335f2f;
}

td, th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#passbtnalt {
    flex-direction: row;
    flex-grow: 4;
    background-color: #2569a0;
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

#passbtnalt:hover {
    background-color: #3083c7;
}

#passbtnalt:active {
    background-color: #2569a0;
}

#downbutton {
    position: fixed;
    right: 20px;
    top: 90px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
}

#downbutton:hover {
    background-color: #dddddd;
}

#downbutton:active {
    background-color: #c4c4c4;
}

#validationTextAlt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 250;
    text-align: left;
}
#validationTextAltPass {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 250;
    text-align: left;
}


#passinpA {
    flex-direction: row;
    flex-grow: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 10px;
    margin-right: 30px;
}

#nameinpA {
    flex-direction: row;
    flex-grow: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 10px;
    margin-right: 30px;
}

#searchBar {
    width: 98.7%;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 40px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#searchBar2 {
    width: 95%;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 40px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.buttonone {
    width: 300px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    text-align: left;
    border: 1px solid #9b9999;
    width: auto;
    min-width: 3vw;
}

.difficulty {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 10px;
    position: fixed;
    width: 190px;
    height: 30px;
    border: none;
    border-radius: 3px;
}

.difficulty:hover {
    filter: opacity(80%);
}

.difficulty:active {
    filter: opacity(50%);
}

#easybtn {
    left: 20px;
    top: 90px;
    background-color: #a9e8a7;
}

#medbtn {
    left: 20px;
    top: 130px;
    background-color: #e3e8a7;
}

#hardbtn {
    left: 20px;
    top: 170px;
    background-color: #e8a7a7;
}
.countgr {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efefef;
    font-weight: 700;
    font-size: 10px;
    position: fixed;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 3px;
}

.countgr:hover {
    background-color: #dddddd;
}

.countgr:active {
    background-color: #c4c4c4;
}

#count5 {
    left: 20px;
    top: 220px;
}
#count10 {
    left: 70px;
    top: 220px;
}
#count25 {
    left: 120px;
    top: 220px;
}
#count50 {
    left: 170px;
    top: 220px;
}
